<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head') %>
    <title><%= genre.name %></title>
<body>
    <%- include('./partials/figure') %>    
    <h1><%= genre.name %> </h1>
    <br>
    <p>NAME: <%= genre.name %> </p>
    <p>RANKIG: <%= genre.ranking %> </p>
    <br>
    <%- include('./partials/links') %>

</body>
</html>