<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head') %>
    <title>Pelicuas nuevas</title>
<body>
    <%- include('./partials/figure') %>
    <h1>PELIÍCULAS ORDENADASR FECHA</h1>
    <ul>
        <% for( let i = 0; i < movies.length; i++ ) { %>
        <li>
            <a href="/movies/detail/<%=movies[i].id%>"><%= movies[i].title %> </a> <br>
            <%= 'RELEASE DATE: ' + movies[i].release_date %> 
        </li>
        <br>
        <% } %>
        <br>
        <%- include('./partials/links') %>
        
    </ul>
</body>
</html>